# r
.renvignore
.Rprofile
*.Rproj
.Rproj.user
renv
renv/
!_assets/renv

# quarto
/.quarto/
_freeze/
site_libs/
*.html.md

# rendered outputs
_rendered/

# reports
etc/
files/
index_files/
inputs/
logs/
outputs/
share/
