# IDEs
.idea/

# hugo
hugo-cache/
public/
resources/
jsconfig.json

# ignore typical symlinks to website outputs
website-*

# ignore the contents of the contents directory except for the .gitkeep
content/*
!content/.gitkeep

# ignore the contents of the static directory, if one gets created
static/*

# mac
.DS_Store

# r
*.Rproj
renv
.Rproj.user
