/* customisation for code blocks etc */

/* code blocks */
.hljs {
  font-size: 0.8rem;
}

/* inline code  */
code {
  font-size: inherit;
}

.dark .alert code, .alert code {
  color: inherit;
  background-color: inherit;
}
